{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'assets/cart/demo.css' %}">
<link rel="stylesheet" href="{% static 'assets/cart/style.css' %}">
{% endblock %}

{% block body %}
<main style="padding:10px;">
<header id="site-header">
		<div class="container">
			<h1>Course cart</h1>
		</div>
	</header>

	<div class="container" style="padding: 20px;">

		<section id="cart"> 

            {% for course in cart_courses %}
			<article class="product">
				<header>
					<a href="{% url 'remove_from_cart' course.id %}" class="remove">
						<img src="{{course.poster.url}}" alt="Gamming Mouse">

						<h3>Remove product</h3>
					</a>
				</header>

				<div class="content">

					<h1>{{course.title}}</h1>

					{{course.description | slice:":300"}}...
					<div title="You have selected this product to be shipped in the color yellow." style="top: 0" class="color yellow"></div>
				</div>

				<footer class="content">

					<h2 class="price">
						${{course.price}}
					</h2>
				</footer>
			</article>
            {% endfor %}

		</section>

	</div>

	<footer id="site-footer">
		<div class="container clearfix">

			<div class="right">
				<h1 class="total">Total: $<span>{{total_price}}</span></h1>
				<div id="paypal-button-container"></div>
			</div>

		</div>
	</footer>
     <!-- END EDMO HTML (Happy Coding!)-->
 </main>

{% endblock %}

{% block js %}
<script src="{% static 'assets/cart/script.js' %}"></script>
<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Call your server to set up the transaction
        createOrder: function(data, actions) {
            // Fetch the total price from the server or calculate it here
            var totalPrice = {{total_price}}; // Replace 100 with the actual total price

            return fetch('/demo/checkout/api/paypal/order/create/', {
                method: 'post'
            }).then(function(res) {
                return res.json();
            }).then(function(orderData) {
                return orderData.id;
            });
        },

        // Call your server to finalize the transaction
        onApprove: function(data, actions) {
            return fetch('/demo/checkout/api/paypal/order/' + data.orderID + '/capture/', {
                method: 'post'
            }).then(function(res) {
                return res.json();
            }).then(function(orderData) {
                // Check if there's any error in the response
                if (orderData.error) {
                    // Show a failure message if there's an error
                    alert('Sorry, your transaction could not be processed.\n\n' + orderData.error);
                    return;
                }

                // Successful capture!
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nThank you for your payment!');

                // You can optionally redirect the user to a thank you page
                // actions.redirect('thank_you.html');
            }).catch(function(error) {
                // Show a failure message for any unexpected errors
                alert('Sorry, your transaction could not be processed.\n\n' + error.message);
            });
        }

    }).render('#paypal-button-container');
</script>


{% endblock %}