{% extends 'base.html' %} {% load static %} {% block body %}
<section id="mu-page-breadcrumb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-page-breadcrumb-area">
          <h2>Course</h2>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Course</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End breadcrumb -->
<section id="mu-course-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-course-content-area">
          <div class="row">
            <div class="col-md-9">
              <!-- start course content container -->
              <div class="mu-course-container">
                <div class="row">
                  {% for course in page_obj %}
<div class="col-md-6 col-sm-6">
    <div class="mu-latest-course-single">
        <figure class="mu-latest-course-img">
            <a href="#"><img src="{{ course.poster.url }}" alt="img" /></a>
            <figcaption class="mu-latest-course-imgcaption">
                <h4><a href="#">{{ course.title }}</a></h4>
                <span><i class="fa fa-clock-o"></i>{{ course.interval }}</span>
            </figcaption>
        </figure>
        <div class="mu-latest-course-single-content">
            <p>{{ course.description | slice:":250"}}...</p>
            <div class="mu-latest-course-single-contbottom">
              {% if course.id in cart_ids %}
                  <a class="mu-course-details" href="{% url 'remove_from_cart' course.id %}">Remove from Cart</a>
              {% else %}
                  <a class="mu-course-details" href="{% url 'add_to_cart' course.id %}">Add to Cart</a>
              {% endif %}
                <span class="mu-course-price">${{ course.price }}</span>
                
            </div>
        </div>
    </div>
</div>
{% endfor %}


                </div>
              </div>
              <!-- end course content container -->
              <!-- start course pagination -->
              <div class="mu-pagination">
                <nav>
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li>
                      <a
                        href="?page={{ page_obj.previous_page_number }}"
                        aria-label="Previous"
                      >
                        <span class="fa fa-angle-left"></span> Prev
                      </a>
                    </li>
                    {% else %}
                    <li class="disabled">
                      <span aria-label="Previous">
                        <span class="fa fa-angle-left"></span> Prev
                      </span>
                    </li>
                    {% endif %} {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="active">
                      <a href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% elif num > page_obj.number|add:-3 and num < page_obj.number|add:3 %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %} {% endfor %} {% if page_obj.has_next %}
                    <li>
                      <a
                        href="?page={{ page_obj.next_page_number }}"
                        aria-label="Next"
                      >
                        Next <span class="fa fa-angle-right"></span>
                      </a>
                    </li>
                    {% else %}
                    <li class="disabled">
                      <span aria-label="Next">
                        Next <span class="fa fa-angle-right"></span>
                      </span>
                    </li>
                    {% endif %}
                  </ul>
                </nav>
              </div>
              <!-- end course pagination -->
            </div>
            <div class="col-md-3">
              <!-- start sidebar -->
              <aside class="mu-sidebar">
                <!-- start single sidebar -->
                <div class="mu-single-sidebar">
                  <h3>Categories</h3>
                  <ul class="mu-sidebar-catg">
                    {% for c in categories %}
                    <li><a href="#">{{c.name}}</a></li>
                    {% endfor %}
                  </ul>
                </div>
                <!-- end single sidebar -->
                <!-- start single sidebar -->
                <div class="mu-single-sidebar">
                  <h3>Popular Course</h3>
                  <div class="mu-sidebar-popular-courses">
                    {% for blog in page_obj.object_list|slice:":3" %}
                    <div class="media">
                      <div class="media-left">
                        <a href="{% url 'blog-post' blog.id %}">
                          <img
                            class="media-object"
                            src="{{ blog.poster.url }}"
                            alt="img"
                          />
                        </a>
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">
                          <a href="{% url 'blog-post' blog.id %}"
                            >{{blog.title}}</a
                          >
                        </h4>
                        <span class="popular-course-price"
                          >${{ blog.price}}</span
                        >
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <!-- end single sidebar -->
                <!-- start single sidebar -->
                {% comment %} <div class="mu-single-sidebar">
                  <h3>Archives</h3>
                  <ul class="mu-sidebar-catg mu-sidebar-archives">
                    <li>
                      <a href="#">May <span>(25)</span></a>
                    </li>
                    <li>
                      <a href="">June <span>(35)</span></a>
                    </li>
                    <li>
                      <a href="">July <span>(20)</span></a>
                    </li>
                    <li>
                      <a href="">August <span>(125)</span></a>
                    </li>
                    <li>
                      <a href="">September <span>(45)</span></a>
                    </li>
                    <li>
                      <a href="">October <span>(85)</span></a>
                    </li>
                  </ul>
                </div> {% endcomment %}
                <!-- end single sidebar -->
                <!-- start single sidebar -->
                <div class="mu-single-sidebar">
                  <h3>Tags Cloud</h3>
                  <div class="tag-cloud">
                    {% for i in tags %}
                    <a href="#">{{i.name}}</a>
                    {% endfor %}
                  </div>
                </div>
                <!-- end single sidebar -->
              </aside>
              <!-- / end sidebar -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
